/* AboutUsPage.css */
.about-us-page {
  padding: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;


  background-color: #FAF3DD;
}

.about-us-page h1 {
  text-align: center;
  font-size: 40px;
  color:black;
}

.section {
  display: flex; /* Add display flex */
  flex-direction: column; /* Set flex direction to column */
  align-items: center; /* Center items horizontally */
  margin-bottom: 40px;
  border-radius: 15px;
  padding: 15px;
  background: linear-gradient(to right, burlywood, #e8d9c3);
  transition: transform 0.3s ease;  
}

.image-div {
  height: 150px;
  width: 150px;
  margin-bottom: 15px; /* Add margin bottom for spacing */
}

.image-div img {
  max-width: 100%;
  height: auto;
  display: block; /* Ensure the image is a block element */
  margin: 0 auto; /* Center the image horizontally */
}

.section:hover {
  transform: translateY(-10px); 
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.section-paragraph {
  font-size: 16px;
  line-height: 1.5;
  color:black;
}
.about-us-page div {
  margin: 0;
  padding: 0;
}


