/* AboutUsPage.css */
.about-us-page {
  padding: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FAF3DD;
}

/* Heading 1 styles*/
.about-us-page h1 {
  text-align: center;
  font-size: 40px;
  color:black;
}

/* Section styles*/
.section {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 40px;
  border-radius: 15px;
  padding: 15px;
  background: linear-gradient(to right, burlywood, #e8d9c3);
  transition: transform 0.3s ease;  
}

/* Image displaying container styles*/
.image-div {
  height: 150px;
  width: 150px;
  margin-bottom: 15px; 
}

/* Image styles */
.image-div img {
  max-width: 100%;
  height: auto;
  display: block; 
  margin: 0 auto; 
}

/* Section hover effects */
.section:hover {
  transform: translateY(-10px); 
}

/* Title styles for section wise */
.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

/* Paragraph inside the section */
.section-paragraph {
  font-size: 16px;
  line-height: 1.5;
  color:black;
}

/* Whole about us page rendering div */
.about-us-page div {
  margin: 0;
  padding: 0;
}


