.footer {
  background-color:#1446A0; 
  color: #fff; 
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer .footer-navbar {
  display: flex;
  
}

.footer .footer-footer-nav-links {
  list-style: none;
  display: flex;
  
}
.footer .footer-footer-nav-links li {
  margin-right: 20px;
  
}

.footer .footer-nav-links li a {
  color: #fff;
  text-decoration: none;
}

.footer .footer-nav-links li a:hover {
  font-style: italic;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
}

.footer .social-icons a {
  margin-right: 15px; 
  color: #fff; 
  font-size: 24px; 
  text-decoration: none;
}

.footer .social-icons a:hover {
  text-decoration: none;
}

.footer .policy-link {
  text-align: center;
}

.footer .policy-link a {
  color: #fff; 
  text-decoration: none;
}

.footer .policy-link a:hover {
  text-decoration: underline; 
}

.footer .copyright {
  text-align: center;
  flex-basis: 100%; 
  font-size: 0.75rem;
}
