.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAF3DD;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerContainer {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Align items horizontally */
  width: 100%;
}

.homeText {
  width: 60%;
  padding: 20px;
  text-align: center;
}

.circlemain {
  list-style-type: none;
  border: 2px solid #5c83d2;
  background-color: #5c83d2;
  color: #d4d6dc;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 370px; /* Position at 50% from the top */
  left: 440px; /* Position at 50% from the left */
  transform: translate(-50%, -50%); /* Center the element perfectly */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: flex;
}

.circlemain:hover {
  background-color: #93a7d0;
  border:#5c83d2;
  color: white;
}

/* Define a CSS variable for the line color */
:root {
  --line-color: black;
}

/* Style for the lines connecting circles */
.circle::before {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  width: 150px; /* Adjust the length of the line */
  height: 2px; /* Thickness of the line */
  background-color: var(--line-color); /* Use the defined CSS variable */
  border-radius: 50%; /* Add a border radius to create a curved effect */
}

.circle-container {
  position: relative;
}

.circle {
  list-style-type: none;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  padding: 0;
  margin: 0 10px; /* Add margin between circles */
  text-align: center;
  /*color: black;*/
  position: absolute;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none;
}

.circle:nth-child(1) {
  top: 90px;
  left: 350px;
  background-color: #ff6569;
  border: 2px solid #ff8b8f;
  color: #68060a;
}

/* Position the lines for each circle */
.circle:nth-child(1)::before {
  top: 150px;
  left: 150px;
  transform: rotate(45deg); /* Rotate the line to connect circles */
} 

.circle:nth-child(1):hover {
  background-color: #da8385;
  color: white;
}

.circle:nth-child(2) {
  top: 490px;
  left: 350px;
  background-color: #9471ff;
  border: #ab90ff;
  color: #1a0360;
}

.circle:nth-child(2)::before {
  top: 20px;
  left: 150px;
  transform: rotate(135deg); /* Rotate the line to connect circles */
} 

.circle:nth-child(2):hover {
  background-color: #a398c5;
  color: white;
  border: #9471ff;
}

.circle:nth-child(3) {
  top: 300px;
  left: 600px;
  background-color: #fff502;
  color: #8c880d;
}

.circle:nth-child(3)::before {
  top: 220px;
  left: -390px;
  transform: rotate(-135deg); /* Rotate the line to connect circles */
}

.circle:nth-child(3):hover {
  background-color: #d4cf49;
  border: #fff502;
  color: white;
}

.circle:nth-child(4) {
  top: 300px;
  left: 100px;
  background-color: #3ea926;
  color: #0b3003;
}

.circle:nth-child(4)::before {
  top: -60px;
  left: 110px;
  transform: rotate(-45deg); /* Rotate the line to connect circles */
}

.circle:nth-child(4):hover {
  background-color: #73a867;
  border: #3ea926;
  color: white;
}
  
.homeImageContainer {
  width: 40%;
  padding: 20px;
}

.homeImageContainer img {
  width: 75%;
  height: auto;
  border-radius: 20px;
}
