.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAF3DD;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerContainer {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Align items horizontally */
  width: 100%;
}

.homeText {
  width: 60%;
  padding: 20px;
  text-align: center;
}

.circlemain {
  list-style-type: none;
  border: 2px solid #5c83d2;
  background-color: #1f2b45;
  color: #d4d6dc;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 1110px; /* Position at 50% from the top */
  left: 440px; /* Position at 50% from the left */
  transform: translate(-50%, -50%); /* Center the element perfectly */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: flex;
}

.circlemain:hover {
  background-color: #b8babd;
  border:#5c83d2;
  color: black;
}

/* Define a CSS variable for the line color */
:root {
  --line-color: black;
}

/* Style for the lines connecting circles */
.circle::before {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  width: 150px; /* Adjust the length of the line */
  height: 2px; /* Thickness of the line */
  background-color: var(--line-color); /* Use the defined CSS variable */
  border-radius: 50%; /* Add a border radius to create a curved effect */
}

.circle-container {
  position: relative;
}

.circle {
  list-style-type: none;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  padding: 0;
  margin: 0 10px; /* Add margin between circles */
  text-align: center;
  /*color: black;*/
  position: absolute;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-decoration: none;
  transition: transform 0.3s ease; /* Smooth transition for spinning */
}

/* Define a keyframe animation called 'bounce' */
@keyframes bounce {
  0% {
    transform: scale(1); /* Initial scale */
  }
  50% {
    transform: scale(1.1); /* Scale up to 110% */
  }
  100% {
    transform: scale(1); /* Return to original scale */
  }
}

/* Apply the 'bounce' animation to circles when hovering */
.circle:hover {
  animation: bounce 0.5s; /* Run the animation for 0.5 seconds */
}

.circle:nth-child(1) {
  top: 830px;
  left: 350px;
  background-color: #e18d8f;
  color: #68060a;
}

/* Position the lines for each circle */
.circle:nth-child(1)::before {
  top: 150px;
  left: 150px;
  transform: rotate(-135deg); /* Rotate the line to connect circles */
} 

.circle:nth-child(2) {
  top: 1230px;
  left: 350px;
  background-color: #a0a0b0;
  /*background-color: #9471ff;*/
  color: #1a0360;
}

.circle:nth-child(2)::before {
  top: 0px;
  left: -140px;
  transform: rotate(-135deg); /* Rotate the line to connect circles */  
} 


.circle:nth-child(3) {
  top: 1020px;
  left: 600px;
  background-color: #b88d94;
  color: white;
}

.circle:nth-child(3)::before {
  top: 200px;
  left: -100px;
  transform: rotate(135deg); /* Rotate the line to connect circles */
}

.circle:nth-child(4) {
  top: 1025px;
  left: 100px;
  background-color: #eea6ca;
  color: #551f3a;
}

.circle:nth-child(4)::before {
  top: -55px;
  left: 110px;
  transform: rotate(135deg); /* Rotate the line to connect circles */
}

.homeImageContainer {
  width: 40%;
  padding: 20px;
}

.homeImageContainer img {
  width: 75%;
  height: auto;
  border-radius: 20px;
}

/* Styles for homesecond section */
.homesection {
  /*background: linear-gradient(to right, rgb(251, 208, 152), #e8d9c3);*/
  background-color: #ffdab9;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  width: 95%; /* Adjust width as needed */
}

.home-aboutUs a {
  text-decoration: none; /* Remove underline */
}

.home-level-button button{
  background-color: #6d4d31;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-left: 48%;
}

.home-contact-button button{
  background-color: #6d4d31;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-left: 44%;
}

.home button:hover {
  background-color: #9f7e61;
}

.homeFooter{
  margin-top: 20px;
}

.home h4{
  color: rgb(148, 124, 93);
  text-align: center;
  margin-top: 50px;
}

.home h1{
  text-align: center;
  color: #8b4513;
}

.home h3{
  color: #800000; /* Maroon */
}

.home p{
  margin-left: 40px;
  text-align: justify;
  font-size: 16px;
}

.home-sticker {
  height: 150px;
  width: 150px;
  margin-bottom: 15px; /* Add margin bottom for spacing */
}

.home-sticker img {
  max-width: 100%;
  height: auto;
  display: block; /* Ensure the image is a block element */
  margin-left: 410%;
}

/* Define a keyframe animation called 'pulse' */
@keyframes pulse {
  0% {
    transform: scale(1); /* Initial scale */
  }
  50% {
    transform: scale(1.1); /* Scale up to 110% */
  }
  100% {
    transform: scale(1); /* Return to original scale */
  }
}

/* Apply the 'pulse' animation to images */
.home img {
  animation: pulse 2s infinite; /* Run the animation continuously */
}

.welcome-msg-home {
  font-family: "Comic Sans MS", cursive; /* font-family */
  font-size: 60px; /*  font size */
  margin-top: 10px;
}

.home h2{
  color: rgb(113, 64, 64);
  font-size: 30px;
  font-family: "Comic Sans MS", cursive; /* font-family */
  margin-left: 500px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.welcome-msg-home2{
  font-family: "Comic Sans MS", cursive; /* font-family */
  font-size: 20px;
  margin-left: 500px;
}

.welcome-img img{
  margin-top: -250px;
}

/* CSS for the smaller size of the home game image */
.welcome-img2 img {
  width: 200px; /* Adjust the width to your desired size */
  height: auto; /* Maintain aspect ratio */
}

/* CSS for positioning the home game image on the right side */
.welcome-img2 {
  position: absolute;
  top: 80%; /* Adjust the top position as needed */
  right: 100px; /* Adjust the right position as needed */
  transform: translateY(-50%); /* Center vertically */
}

/* CSS for the smaller size of the home game image */
.welcome-img3 img {
  width: 150px; /* Adjust the width to your desired size */
  height: auto; /* Maintain aspect ratio */
}

/* CSS for positioning the home game image on the right side */
.welcome-img3 {
  position: absolute;
  top: 90%; /* Adjust the top position as needed */
  right: 500px; /* Adjust the right position as needed */
  transform: translateY(-50%); /* Center vertically */
}
/* Welcome message styles for smaller screens */
@media only screen and (max-width: 768px) {
  .welcome-msg-home {
    font-size: 30px;
  }
}
/* Circle styles for smaller screens */
@media only screen and (max-width: 768px) {
  .circle {
    width: 100px;
    height: 100px;
    font-size: 14px;
  }
}