.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #FAF3DD;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.homeText {
  width: 60%;
  padding: 20px;
}
.homeText li{
  list-style-type: none;
  padding: 5px;
}

.homeImageContainer {
  width: 40%;
  padding: 20px;
}

.homeText h1 {
  text-align: center;
  align-items: center;
  animation: fadeInAndColorChange 2s ease forwards; /* Use shorthand for animation */
}

@keyframes fadeInAndColorChange {
  from {
    opacity: 0;
    color: transparent; 
  }
  to {
    opacity: 1;
    color:royalblue; 
  }
}

.homeImageContainer img {
  width: 75%;
  height: auto;
  border-radius: 20px;
}
