/* Center the content vertically and horizontally */
.l2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FAF3DD;
  }
  
  /* Style for the top image */
  .l2-top-image {
    width: 250px; /* Adjust as needed */
    height: auto;
    margin-bottom: 1px; /* Add space below the image */
  }
  
  /* Style for the hint image */
  .l2-hint-image {
    width: 250px; /* Adjust as needed */
    height: 200px;
    margin-bottom: 20px; /* Add space below the image */
  }
  
  /* Style for the fill in the blanks section */
  .l2-fill-in-the-blanks {
    margin-bottom: 20px; /* Add space below the fill in the blanks */
    text-align: center;
  }

  .l2-mainque {
    color: brown;
  }
  
  /* Style for the dropdown section */
  .l2-dropdown {
    margin-bottom: 40px; /* Add space below the dropdown */
  }
  
  /* Style for the feedback message */
  .l2-feedback {
    margin-bottom: 20px; /* Add space below the feedback message */
  }
  .l2-hint-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .l2-hint-button {
    margin-bottom: 10px; /* Adjust as needed */
    padding: 10px 20px;
    background-color: #c86c17;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .l2-centered-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  /* Style for the navigation buttons */
  .l2-navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 300px; /* Adjust as needed */
    align-items: center;
  }
  
  /* Style for individual navigation buttons */
  .l2-navigation-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 100px;
  }
  
  /* Style for disabled navigation buttons */
  .l2-navigation-button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .l2-hint-button:hover {
    background-color: #eddf41;
    transform: scale(1.1);
  }
  
  .l2-game-over-container {
    text-align: center;
  }
  
  .l2-game-over-container h1 {
    font-size: 24px;
    color: #333;
  }
  
  .l2-game-over-container p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
  }
  
  .l2-game-over-container .feedback {
    font-style: italic;
  }
  .l2-dropdownbox {
    background-color: rgb(62, 62, 185);
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    color: white; 
  }
  


  
  
  