.l3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style for the top image */
.l3-top-image {
  width: 250px; 
  height: auto;
  position: absolute;
  top: 0; 
  margin-bottom: 20px;
}

.question-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.question-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.l3-mainque {
  color: brown;
  padding-top: 100px;
}

.question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}


.drop-zone {
  width: 150px;
  min-height: 30px;
  border: 2px dashed blue;
  padding: 5px;
  margin:0 auto;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center; /* Center the content horizontally */
  align-items: center; 
  
}

.drop-zone span {
  font-size: 20px; 
  color: #0056b3;
  text-decoration: none;
}

.answer-options {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
}

.answer-option {
  display: inline-block;
  background-color:lavender;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 20px;
  
}

.answer-option-text {
  font-size: 22px;
  align-items: center;
  color:#0056b3;
  text-decoration: none;
}

.l3-buttons {
  display: flex;
  justify-content: center;

}.l3-buttons {
  display: flex;
  justify-content: center;
  margin-top: 0px; /* Add margin to separate the buttons from the questions */
  margin-bottom: 50px;
} 

.l3-buttons button {
  background-color:blue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 50px;
  border-radius: 20px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color:royalblue;
}
