.l3-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style for the top image */
.l3-top-image {
  width: 300px; 
  height: 300px;
  margin: 0 auto;
  margin-bottom: -80px;
}

.l3-top-image img{
  max-width: 100%;
  height: auto;
}

.question-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.question-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
}

.l3-mainque {
  color: brown;
  padding-top: 100px;
}

.question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


.drop-zone {
  width: 150px;
  min-height: 30px;
  border: 2px dashed blue;
  padding: 5px;
  margin:0 auto;
  margin-bottom: 40px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center; /* Center the content horizontally */
  align-items: center; 
  
}

.drop-zone span {
  font-size: 20px; 
  color: #0056b3;
  text-decoration: none;
}

.answer-options {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
}

.answer-option {
  display: inline-block;
  background-color:lavender;
  padding: 10px;
  margin-right: 20px;
  cursor:grabbing;
  border-radius: 20px;
  
}

.answer-option-text {
  font-size: 22px;
  align-items: center;
  color:#0056b3;
  text-decoration: none;
}

.l3-buttons {
  display: flex;
  justify-content: center;

}.l3-buttons {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 50px;
} 

.l3-buttons button {
  background-color:blue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 50px;
  border-radius: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color:royalblue;
}

.next button{
  margin-right: 400px;
}

.l3-question-container{
  margin-top: 10px;
}
/* Add responsive styles */
@media only screen and (max-width: 768px) {
  .l3-top-image {
    width: 200px;
    height: 200px;
    margin-bottom: -50px;
  }

  .question-image {
    width: 200px;
    height: 200px;
  }

  .l3-mainque {
    padding-top: 50px;
  }

  .drop-zone {
    width: 120px;
    margin-bottom: 30px;
  }

  .answer-options {
    left: 0;
    transform: none;
  }

  .answer-option {
    padding: 8px;
    margin-left: 50px;
  }

  .answer-option-text {
    font-size: 16px;
  }

  .l3-buttons {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .l3-buttons button {
    padding: 8px 12px;
    margin-right: 8px;
    margin-bottom: 20px;
  }
}
