.l4-container {
    text-align: center;
    margin: auto;
    padding: 20px;
}

.l4-top-image-small {
    width: 150px;
    margin-bottom: 20px;
}
.l4-image-container {
    margin-bottom: 20px;
}

.l4-question-image {
    width: 200px; 
    height: auto; 
    border-radius: 20px;
}

.l4-fill-in-the-blanks h1 {
    font-size: 24px;
}

.l4-input-container {
    margin-bottom: 20px;
}

.l4-button-container {
    display: flex;
    justify-content: center;
}

.l4-navigation-buttons {
    display: flex;
}

.l4-navigation-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
}