.l4-container {
    text-align: center;
    margin: auto;
}

.l4-top-image-small {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.l4-top-image-small img{
    height: auto;
    max-width: 100%;
}

.l4-top-image-small img{
    margin-top: -50px;
}

.l4-image-container {
    margin-bottom: 20px;
}

.l4-question-image {
    width: 200px; 
    height: auto; 
}

.l4-fill-in-the-blanks h1 {
    font-size: 24px;
}

.l4-input-container {
    margin-bottom: 20px;
}

.l4-input-container input[type="text"]{
    max-width: 20%;
    border-radius: 20px;
    border: solid blue;
}

.l4-button-container {
    display: flex;
    justify-content: center;
}

.l4-navigation-buttons {
    display: flex;
}

.l4-navigation-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    background-color: blue;
}

.l4-navigation-button button:hover{
    background-color: royalblue;
}