/* Common styles for form elements */
.login-page .form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.login-page .form-group input {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.login-page .form-group input:focus {
  border-color: #007bff;
}

.login-page .button-group {
  display: flex;
  justify-content: center; 
  margin-top: 20px; /* Added margin to separate the buttons from the form */
}

/* Login page styles */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FAF3DD;
  overflow: hidden;
}

/* Left section styles */
.login-page .left-section {
  padding: 20px;
  text-align: center;
}

.login-page .left-section img {
  max-width: 100%;
  border-radius: 30px;
  width: 500px;
  transition: transform 0.3s ease-in-out;
}

/* Add hover effect to the entire container */
.login-page:hover .left-section img {
  transform: scale(1.1);
}

.login-page:hover .login-form {
  transform: scale(1.05);
}

/* Right section styles */
.login-page .right-section {
  padding: 20px;
}

.login-page .right-section h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* Login form styles */
.login-page .login-form {
  background-color: #f0f0f0;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 320px;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

/* Submit button styles */
.login-page .button-group button {
  background-color: blue;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.login-page .button-group button:hover {
  background-color: royalblue;
}

.login-page .additional-options {
  margin-top: 15px;
  text-align: justify; 
}

.login-page .additional-options p a,span {
  cursor: pointer;
  font-size: 14px;
  color: #007bff;
  text-decoration: underline;
}

/* Error message styles */
.login-page #error-message {
  color: red;
  font-size: 12px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .login-page {
    flex-direction: column; /* Stack sections vertically */
  }

  .login-page .left-section,
  .login-page .right-section {
    width: 100%; /* Make sections full width */
  }

  .login-page .login-form {
    width: 90%; /* Adjust form width */
  }

  .login-page .button-group button {
    width: 100%; /* Make buttons full width */
  }
}
