/* Common styles for form elements */
.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.form-group input {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #007bff;
}

.button-group {
  display: flex;
  justify-content: center; 
  margin-top: 20px; /* Added margin to separate the buttons from the form */
}

/* Login page styles */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(to bottom,skyblue, cornflowerblue);
}

/* Grouping the form and image together */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Left section styles */
.left-section {
  padding: 20px;
  text-align: center;
}

.left-section img {
  max-width: 100%;
  border-radius: 30px;
  width: 500px;
  transition: transform 0.3s ease-in-out;
}

/* Add hover effect to the entire container */
.login-container:hover .left-section img {
  transform: scale(1.1);
}

.login-container:hover .login-form {
  transform: scale(1.05);
}

/* Right section styles */
.right-section {
  padding: 20px;
}

.right-section h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* Login form styles */
.login-form {
  background-color: #f0f0f0;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

/* Submit button styles */
.button-group button {
  background-color: blue;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: royalblue;
}

.additional-options {
  margin-top: 20px;
  text-align: justify; 
}

.additional-options a {
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.additional-options a:hover {
  text-decoration: underline;
}

/* Media queries for responsiveness */

@media only screen and (max-width: 768px) {
  .login-page {
    flex-direction: column; /* Stack sections vertically */
  }

  .left-section,
  .right-section {
    width: 100%; /* Make sections full width */
  }

  .login-form {
    width: 90%; /* Adjust form width */
  }

  .button-group button {
    width: 100%; /* Make buttons full width */
  }
}


  