.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1446A0; /* Light blue background color */
    padding: 15px 20px;
    color: #fff; /* White text color */
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .navbar .leftSide {
    display: flex;
    align-items: center;
  }
  
  .navbar .hiddenLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #1D3557; /* Light blue background color */
    width: 100%;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar .hiddenLinks a {
    color: #fff; /* White text color for links */
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .navbar .rightSide a {
    color: #fff; /* White text color for links */
    text-decoration: none;
    margin-left: 20px;
  }
  
  .navbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff; /* White text color for button */
  }

  /* Display the hiddenLinks when the navbar has the 'open' class */
.navbar.open .hiddenLinks {
    display: flex;
  }

.navbar.close .hiddenLinks {
  display: none;
}
  
.navbar .leftSide img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.navbar .toggleButton button {
  display: flex;
  justify-content: center; 
  /*margin-top: 20px;*/ /* Added margin to separate the buttons from the form */
  color: black;
}
  