.pretest{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-pretest{
  height: 300px;
  width: 300px;
  margin: 0 auto;
  
}

.image-pretest img{
  height: auto;
  max-width: 100%;
  padding: 20px;
}

.pre-quiz-container{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  width: 600px;
  height: auto;
  
}


.pre-quiz-container h2{
  color:brown;
}

.pre-quiz-image{
  width: 400px;
}

.pre-quiz-image img{
  max-width: 50%;
  margin: 0 auto;
}

.pre-vertical-options {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-right: 20px;
}

.answer-pretest-button button{
  background-color: coral;
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.answer-pretest-button :hover{
background-color:darkorange;
}

.pretest-next-button button{
  padding: 10px 15px;
  background-color:blue;
  color:white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 40px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.pretest-next-button :hover{
  background-color: royalblue ;
}

.pre-quiz-quit button{
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;  
}

.pre-quiz-quit p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: brown;
}

.gif-pretest img{
  height: 250px;
  width: 250px;
  display:flex;
  margin-left: 30px;
}

.pre-vertical-options li{
  list-style: none;
}
/* Add responsive styles */
@media only screen and (max-width: 768px) {
  .pre-quiz-container {
    width: 90%;
    max-width: 400px;
  }

  .pre-quiz-image img {
    max-width: 100%;
  }

  .pre-vertical-options {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .answer-pretest-button button {
    margin: 10px 0;
  }

  .gif-pretest img {
    margin-left: 0;
  }
}
