.pretest{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-pretest{
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.image-pretest img{
  height: auto;
  max-width: 100%;
}

.pre-quiz-container{
  width: fit-content;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  
}


.pre-quiz-container h2{
  color:brown;
}

.pre-quiz-image{
  height: fit-content;
  width: 400px;
  display:flex;
  justify-content: center;
}

.pre-quiz-image img{
  max-width: 50%;
}

.pre-vertical-options a{
   margin-right: 10px;
}

.pre-vertical-options {
  display: flex;
  flex-direction: row;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin-right: 10px;
 
}

.answer-pretest-button button{
  background-color: coral;
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  font-size: 25px;
}
.answer-pretest-button :hover{
background-color: rgb(233, 15, 15);
}
.pretest-next-button button{
  padding: 15px 20px;
  background-color:blue;
  color:white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.pretest-next-button :hover{
  background-color: royalblue ;

}
.pre-quiz-quit button{
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;  
}
.pre-quiz-quit p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  color: brown;
}

.gif-pretest img{
  height: 250px;
  width: 250px;
  display:flex;
  justify-content: center;
  margin-left: 30px;

}
  
