.bg-img {
  background-image: 'level1.jpg'; /* Adjust path accordingly */
  background-size: cover;
  background-position: center;
  /* Add any other styles you need */
}

.Selected-Levels-Page {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.Selected-Levels-Page-header {
  background-color: #FAF3DD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.Level-button {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Level-button button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;


  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.Selected-Levels-Page button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.Selected-Levels-Page button:focus {
  outline: none;
}

.Selected-Levels-Page h1 {
  margin-bottom: 20px;
}
.Selected-Levels-Page .image {
  position: absolute;
  right: 0;
  flex: 1; 
  max-width: 50%; 
  margin-left: 20px; 
}

.Selected-Levels-Page .image img {
  width: 50%; 
  height: 50%; 
}
.Selected-Levels-Page .content {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items vertically */
}
.Selected-Levels-Page .image2 {
  flex: 1; 
  max-width: 35%; 
  margin-left: 20px; 
  position: absolute;
  left: 0;
}

.Selected-Levels-Page .image2 img {
  width: 80%; 
  height: 80%; 
  
}

.Selected-Levels-Page ul{
  list-style-type: none;
}

.image1-button {
  display: flex;
  justify-content: center; /* Align content horizontally at the center */
  align-items: center; 
  width: 120px; 
  height: 120px;
  position: relative 
}

.image1-button img {

  max-width: 300px; 
  max-height: 250px; 
  position: absolute; 
  top: 25%; 
  left: 65%; 
  transform: translate(-50%, -50%);
}