.Selected-Levels-Page {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Selected-Levels-Page-header {
  background-color: #FAF3DD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.Level-button {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Selected-Levels-Page button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.Selected-Levels-Page button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.Selected-Levels-Page button:focus {
  outline: none;
}

.Selected-Levels-Page h1 {
  margin-bottom: 20px;
}
.Selected-Levels-Page .image {
  position: absolute;
  right: 0;
  flex: 1; 
  max-width: 50%; 
  margin-left: 20px; 
}

.Selected-Levels-Page .image img {
  width: 50%; 
  height: 50%; 
}
.Selected-Levels-Page .content {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items vertically */
}
.Selected-Levels-Page .image2 {
  flex: 1; 
  max-width: 35%; 
  margin-left: 20px; 
  position: absolute;
  left: 0;
}

.Selected-Levels-Page .image2 img {
  width: 80%; 
  height: 80%; 
  
}


