/* UserForm.css */

/* Common styles for user form elements */
.input-form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px; /* Removed text-align: left; */
}

.input-form-group input {
  width: 90%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.input-form-group input:focus {
  border-color: #ffffff;
}

/* UserForm page styles */
.UserForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to bottom, skyblue, cornflowerblue);
}

/* Center the content in the middle */
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* UserForm form styles */
.user-login-form {
  background-color: #f0f0f0; /* Changed to a more descriptive color */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 400px;
  transition: transform 0.3s ease-in-out;
}

/* Add hover effect */
.user-login-form:hover {
  transform: scale(1.05);
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .user-login-form {
    width: 90%; /* Adjust form width */
  }

  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


  