:root {
  --primary-color: blue;
  --hover-color: royalblue;
  --form-width: 500px;
}

.UserForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FAF3DD;
  padding-bottom: 50px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .user-save-form {
    width: 90%;
  }

  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.user-save-form {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: var(--form-width);
  height: auto;
}
.form-group{
  padding-top: 8px ;
}

.UserForm .form-group label{
  color:blue;
}
.form-group input {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.form-group .display-value {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.save-button,
.edit-button
{
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out;
}
.delete-button {
  background-color:red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out;
}
.delete-button:hover {
  background-color:firebrick;
}

.save-button:hover,
.edit-button:hover{
  background-color: var(--hover-color);
}

.delete-confirmation-dialog button{
  background-color:coral;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-left: 5px;

}
