/* UserForm.css */

/* UserForm page styles */
.UserForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: linear-gradient(to bottom, skyblue, cornflowerblue);
}

/* Center the content in the middle */
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .user-login-form {
    width: 90%; /* Adjust form width */
  }

  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.user-save-form {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
  transition: transform 0.3s ease-in-out;
}
.user-save-form:hover {
  transform: scale(1.1);
}
.form-group input {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}
.save-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.save-button:hover {
  background-color: #45a049;
}
