:root {
  --primary-color: royalblue;
  --hover-color: cornflowerblue;
  --form-width: 450px;
  --delete-confirmation-bg: #fff;
  --delete-confirmation-border: 1px solid #ccc;
  --delete-confirmation-radius: 20px;
  --delete-confirmation-padding: 20px;
}

.UserForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #FAF3DD;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .user-save-form {
    width: 90%;
  }

  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.user-save-form {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: var(--form-width);
  height: auto;
}

.form-group input {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.form-group .display-value {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.save-button,
.edit-button,
.delete-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.save-button:hover,
.edit-button:hover,
.delete-button:hover {
  background-color: var(--hover-color);
}

/* Delete Confirmation Styles */
.delete-confirmation {
  background-color: var(--delete-confirmation-bg);
  border: var(--delete-confirmation-border);
  border-radius: var(--delete-confirmation-radius);
  padding: var(--delete-confirmation-padding);
  margin-top: 20px;
  text-align: center;
}

.delete-confirmation p {
  margin-bottom: 10px;
}

.delete-confirmation button {
  margin-right: 10px;
  background-color: var(--primary-color);
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.delete-confirmation button:hover {
  background-color: var(--hover-color);
  color: #fff;
}